.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

h1 {
  color: white;
  font-size: 50px;
  text-decoration: underline;
  text-shadow: 1in;
}