.footer-top {
  height: 400px;
  background-color:#232F3E;
  display: flex;
  position: relative;
  flex-direction: column;
}

.footer-bottom {
  background-color: #131A22;
  height: 200px;
}


.footer-top-card-3, .footer-top-card-4{
  
  width: 210px;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-top-card-3 {
  position: absolute;
  right: 800px;
  top: 40px;
  flex-wrap: nowrap;
}
.footer-top-card-4 {
  position: absolute;
  right: 500px;
  top: 40px;
  
}

.footer-top-card-2 {
  width: 100px;
  height: 200px;
  
  position: absolute;
  left:700px;
  top: 40px;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-top-card-1 {
  width: 150px;
  height: 200px;
  
  position: absolute;
  left: 450px;
  top: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  
  
}

.footer-top-headline {
  font-weight: 700;
  font-family: 'Amazon-Ember-Bold';
  margin-bottom: 10px;
  
}

.footer-top-item {
  color: rgb(230, 230, 230);
  margin-bottom: 10px;
  font-size: 13px;
}

.footer-top-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-top-bottom {
  
  /*background-color:#232F3E;*/
  border-top: 1px solid #3a4553;
  height: 135px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  
}

.footer-top-bottom-container {
  margin: auto;
  width: 60%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.amazon-logo {
  width: 100px;
  transform: scale(0.9);
}

.nations-container {
  
  height: 50px;
  width: 87%;
  margin-top: 10px;
  display: flex;
  
  text-align: center;

}

.nations {
  list-style: none;
}
.nation {
  font-size: 12px;
  color: rgb(221, 221, 221);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 7px;
  
  border-right: 1px solid rgb(221, 221, 221)
  
  
}
.turkiet, .USA {
  border: none;
}

.FAE {
  border-right: 1px solid rgb(221, 221, 221);
  border-left: 1px solid rgb(221, 221, 221);
  padding-left: 7px;
 
}

.nation:hover , .FAE:hover, .turkiet:hover, .USA:hover{
  text-decoration: underline;
  cursor: pointer;
}


.footer-bottom {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.footer-bottom-container {
  width: 52%;
  margin: auto;
  
  display: grid;
  grid-template-columns: 300px 190px 190px 190px;
  column-gap: 40px;
  row-gap: 20px;
  
  
}

.footer-bottom-item {
  
  font-size: 11px;
  display: flex;
  flex-direction: column;
  
}

.footer-bottom-item-headline {
  color: #DDD;
  font-size: 12px;
}

.footer-bottom-item-desc {
  color: #999;
  display:inline-block;
  
}

.footer-bottom-item:hover a, .footer-bottom-item:hover span {
  text-decoration: underline;
  cursor: pointer;
}

.footer-bottom-info-container {
  width: 45%;
  margin:auto;
  text-align: center;
  padding-top: 10px;
  
}

.footer-bottom-info {
  color: #DDD;
  font-size: 12px;
  padding: 2px 8px;
}

.footer-bottom-info:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-bottom-info-copy {
  color: #DDD;
  font-size: 12px;
}