body {
  background-color: rgb(230, 230, 230);
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  
}







@font-face {
  font-family: 'Amazon Ember'; 
  src: url(/fonts/Amazon\ Ember.ttf);
}

@font-face {
  font-family: 'Amazon-Ember-Bold';
  src: url(/fonts/Amazon\ Ember\ Bold.ttf);
}
@font-face {
  font-family: 'Amazon-Ember-Medium';
  src: url(/fonts/Amazon\ Ember\ Medium.ttf);
}
