header {
  color: white;
}

.search-icon {
  width: 25px;
  
  padding: 8px 10px 7px 10px;
  
  background-color: rgb(252, 184, 94);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}

.search-container {
  display: flex;
  align-items: center;
  
  flex: 1;
  border: none;
  box-shadow: none;
  margin-left: 14px;
  max-width: 1225px;
  

}
.search-bar {
  height: 38px;
  width: 100%;
  flex: 1;
  padding-left: 10px;
  min-width: 200px;
  border: none;
  font-size: 15px;
  color: black;
  outline: none;

  
}
.search-bar::placeholder {
  color: rgb(100, 100, 100);
}
.search-container:focus-within {
  box-shadow: 0px 0px 0px 3px orange;
  border-radius: 4px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  flex: 1;
}
.category-choose:hover {
  background-color: rgb(210, 210, 210);
  color: black;
  
}




.category-choose {
  background-color: rgb(240,240,240);
  height: 40px;
  min-width: 115px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid rgb(200, 200, 200);
  display: flex;
  color: rgb(100, 100, 100);
  padding-left: 12px;
  padding-right: 0px;

  align-items: center;

}

.categories {
  
  font-size: 14px;
  font-weight: 500;
  
}


.material-icons-categories {
  color: rgb(100, 100, 100);
  font-family: 'Material Icons';
  transform: scale(1.3);
  
}

.header-container {
  height: 60px;
  background-color: rgb(19, 26, 34);
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  
  margin-right: 7px;
  height: 50px;
  
}
.logo-container:hover {
  outline: 1px solid white;
  border-radius: 2px;
  
}

.amazon-icon {
  width: 130px;
  margin-top: 5px;  
   
}

.choose-adress-container {
  color: white;
  
  
  
  height: 50px;
  width: 150px;
  margin-right: 8px;
}

.choose-adress {
  position: relative;
  display: flex;
  align-items: center;
  
  
  
}
.choose-adress-container:hover {
  outline: 1px solid white;
  border-radius: 2px;
  
}
.gps-icon {
  position: absolute;
  top: 18px;
  left: 5px;
  height: 25px;
}

.hej {
  position: absolute;
  top: 10px;
  left: 28px;
  font-size: 12px;
  color: rgb(220, 220, 220);
}
.adress {
  position: absolute;
  top: 22px;
  left: 28px;
  font-weight: 500;
  font-size: 16px;
  
}


.right-section {
  
  
  
  height: 60px;
  width: 470px;
  display: flex;
  
  align-items: center;
  margin-left: 23px;
  padding-right: 15px; 
  
}

.right-section-button-language {
  width: 80px;
  height: 50px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  
  
  
  
  
}
.right-section-button {
  width: 120px;
  height: 50px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11px;
  position: relative;
}

.right-section-button-checkout {
  width: 130px;
  height: 50px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;


}
.right-section-button:hover, .right-section-button-language:hover, 
.right-section-button-checkout:hover {
  outline: 1px solid white;
  border-radius: 2px;
  
  
}

.arrow-icon-language {
  transform: scale(1.5);
  font-family: 'Material Icons';
  
  
  color: rgb(160, 160, 160);
}
.arrow-icon-log {
  transform: scale(1.5);
  font-family: 'Material Icons';
  
  color: rgb(160, 160, 160);
  
}


.language {
  color: white;
  font-weight: 700;
  font-family: 'Amazon-Ember-Bold';
  font-size: 14px;
  margin-left: 4px;
  
}

.language-flag {
  height: 17px;
  
  
  
}

.checkout-img {
  margin-left: -10px;
}

.cart-text {
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Amazon-Ember-Bold';
}

.orders, .account-list {
  font-weight: 700;
  font-family: 'Amazon-Ember-Bold';
  font-size: 14px;
}

.arrow-symbol {
  font-size: 8px;
  color: rgb(160, 160, 160);
}

.arrow-symbol-categories {
  color: rgb(100, 100, 100);
  font-size: 8px;
}