.navbar-container {
  display: flex;
  align-items: center;
  
  height: 38px;
  
  background-color: rgb(29, 43, 59);
  color: white;
  font-weight: 400;

  
  padding-left: 10px;
  padding-bottom: 0px;

  

}

.nav-item {
  
  height: 36px;
  display: flex;
  align-items: center;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 12px;
  margin-right: 1px;
  
  
  
}
.nav-item:hover, .alla:hover, .nav-prime:hover{
  outline: 1px solid white;
  border-radius: 2px;
}
.alla {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-right: 1px;
  font-weight: 700;
  font-size: 14px;
  
  height: 36px;
  padding: 0px 8px;
}

.hamburger-menu {
  color: white;
  height: 28px;
  margin-right: 3px;
}

.material-icons {
  color: rgb(200, 200, 200);
  transform: scale(0.8);
}
.nav-prime {
  display: flex;
  align-items: center;
  padding: 0px 12px;
}
.prime {
  height: 36px;
  display: flex;
  align-items: center;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-right: 1px;
}
.arrow-symbol-prime {
  color: white;
  font-size: 8px;
  margin-top: 4px;
  margin-left: 2px;
}


