.offers-grid {
  
  
  width: 100%;
  
  padding-top: 20px;
  
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: 270px 270px 270px 270px 270px;
  
  background-color: white;
  
}
.offers-grid-container {
  background-color: white;
  width: 1415px;
  height: 380px;
  margin: 0px auto;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 20px 25px 0px 20px;
  
  display: flex;
  flex-direction: column;

}

.offers-card {
  
  display: flex;
  flex-direction: column;
  height: 100%;
  
  
  
  background-color: white;
  
  
}
.offers-card:hover {
  cursor: pointer;
}
.offer-image {
  max-width: 255px;
  
      
}
.offer-image-container {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  border: 1px solid rgb(245, 245, 245);
  height: 230px;
}

.offer-headline-link {
  color: #007185;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;

}

.offer-headline-link:hover {
  color: rgb(206, 135, 4);
  text-decoration: underline;
  cursor: pointer;
}
.offers-headline {
  margin: 0px;
}

.offer-discount-info {
  position: relative;
  width: 100%;
  
  display: flex;
  align-items: center;
}
.discount {
  background-color: #CC0C39;
  font-size: 13px;
  color: white;
  padding: 3px;
}
.offer-type {
  color: #CC0C39;
  font-size: 12px;
  margin-left: 8px;
  
  font-weight: 700;
  
  
}
.offer-price-info {
  position: relative;
}
.offer-seller {
  font-size: 13px;
  color: #0F1111
}

.offer-price-info .offer-original-price, .lowest {
  font-size: 13px;
  color: #565959;
}
.offer-original-price {
  text-decoration:line-through;
}
.offer-discount-price {
  font-size: 16px;
}
.kr {
  margin-bottom: 3px;
  color: #565959;
  font-size: 11px;
  position: absolute;
  top: 2px;
}

.lowest {
  margin-left: 12px;
}

  