.card-grid {
  width: 1460px;
  margin:auto;
  
  
  
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: 350px 350px 350px 350px;
  
  
  
  padding: 20px;
}
.product-card {
  height: 420px;
  
  flex-wrap: nowrap;
  
  background-color: white;
  display: flex;
  flex: 1;
  padding-top: 5px;
  flex-direction: column;
  position: relative;
  
  
  
  

  
}
.product-item {
  display: flex;
  flex-direction: column;
  
}
.product-image-1 {
  height: 120px;
  width: 147px;
}

.product-card-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 20px;
  column-gap: 15px;
  row-gap: 20px;

}
.product-card-headline {
  margin-left: 20px;
  font-size: 18px;
}
.product-card-footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
  
}
.product-footer-link {
  font-size: 13px;
  font-weight: 500;
  
  color: #007185;
}
.product-info {
  margin-top: 5px;
  font-size: 12px;
}
.product-image-2 {
  width: 305px;
  height: 310px;
}
.product-card-2 {
  height: 420px;
  
  flex-wrap: nowrap;
  
  background-color: white;
  display: flex;
  flex: 1;
  padding-top: 5px;
  flex-direction: column;
  position: relative;
  padding-left: 22px;

}
.product-card-2 .product-card-headline {
  margin-left: 0px;
}
.product-footer-link:hover {
  color: rgb(206, 135, 4);
  cursor: pointer;
  text-decoration: underline;
}