/* 
  CSS to style the part of the webpage containing info about the Apps. 
*/

.apps-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  margin-left: 65px;
  margin-right: 65px;
}

.app-item {
  position: relative;
  width: 100%;
}
.app-button {
  position: absolute;
  bottom: 55px;
  left: 50px;
  padding: 11px 22px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  border-style: none;
  box-shadow: 1px 1px 1px 0px rgb(145, 145, 145);
}
.app-button:hover {
  background-color: rgb(165, 165, 165);
  cursor: pointer;
}

.app-image {
  width: 100%;
  min-height: 300px;
}

.apps-headline {
  font-size: 28px;
  font-weight: 500;
  margin: 80px 0px 30px 65px;
}

.nike-motivation, .training-info{
  color: white;
  position: absolute;
  bottom: 130px;
  left: 50px;
  font-weight: 500;
  font-size: 22px;
  width: 350px;
}

.app-item:hover {
  cursor: pointer;
}

