
/* 
  CSS to style the header and the elements attached to it. 
*/
.header {
  display: flex;
  align-items: center;
  font-size: 12px;
  
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: row;
  background-color: rgb(245, 245, 245);
  height: 45px;
  position: relative;
  
}

.header .right-section {
  display:flex;
  align-items: center;
  position:absolute;
  
  right: 55px;
  
}


.vertical-line {
  margin: 0px 4px;
}
.vertical-line-1 {
  margin-right: 6px;
  margin-left: 4px;
}

.right-header-text {
  margin: 0px 8px;
  font-size: 14px;
}

.hitta {
  margin-right: 0px;
  padding: 7px 5px 8px 5px;
  font-size: 14px;
  
}
.jordan {
  height: 28px;
  background-color: rgb(245, 245, 245);
  
}

.jordan-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 65px;
  
}
.jordan-container:hover {
  opacity: 0.6;
  transition: 0.05s;
  cursor: pointer;
}

.right-header-text:hover, .hitta:hover {
  color: rgb(140,140,140);
  transition: 0.1s;
  cursor: pointer;
}

.header-item-container {
  display: flex;
  
  padding: 7px 0px 8px 0px;
}