/* 
  CSS to style the navbar and the elements attached to it. 
*/

.navbar {
  
  height: 60px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: rgb(233, 233, 233);
  border-bottom-width: 1px;
  border-top-width: 1px;
  
  display: flex;
  align-items: center;
  
  width: 100%;
  position: relative;
  padding: 5px;
  
}
/* A class used to make the navbar stick to the top when scrolling down.  */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: top 1s ease-in-out;
}

.nav-menu {
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  

  
   
}

.nav-menu-container {
  margin:auto;
  
  
}

.logo {
  height: 70px;
  
}

.logo-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 60px;
  

  
}
.logo:hover {
  opacity: 0.55;
  transition: 0.05s;
  cursor: pointer;
}

.search-icon {
  height: 25px;
  
}
.search-bar::placeholder {
  
  color: rgb(196, 196, 196);
  font-size: 16px;
}
.search-bar {
  height: 40px;
  background-color: rgb(247, 247, 247);
  border-style: none;
  border-radius:20px;
  font-size: 17px;
  padding-left: 45px;
  font-weight: 500;
  max-width: 180px;
}

.search-bar:focus {
  outline: none;
  
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 0px;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(247, 247, 247);
  background-color: transparent;

  
}


.search-button:hover {
  background-color: rgb(225, 225, 225);
  transition: 0.1s;
  cursor: pointer;
}

.search-bar:hover {
  background-color: rgb(225, 225, 225);
  transition: 0.05s;
  
  
}
.search-bar-container:hover .search-bar::placeholder {
  color: rgb(112, 112, 112);
}

.search-button:hover ~ .search-bar::placeholder {
  color: rgb(196, 196, 196);
}

.search-bar-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 25px;
  
  
  
}

.briefcase-container, .heart-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  
  border-radius: 19px;
  height: 38px;
  width: 38px;

  
}
.briefcase-container:hover , .heart-container:hover  {
  background-color: rgb(225, 225, 225);
  transition: 0.1s;
  cursor: pointer;
}

.heart-icon {
  height: 35px;
  margin-left: 1px;
  
}
.briefcase-icon {
  height: 23px;
  margin-left: 7px;
  margin-bottom: 2px;
}
.navbar .right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 45px;
}

.nav-item {
  list-style: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 6px 12px 10px 12px;
  font-size: 18px;
  font-weight: 500;
  height: 38px;
}

.nav-item:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
  
}


