/* 
  CSS to style handle the grid of different shoes. 
*/


.shoes-carousell {
  
  
  display:flex;
  align-items: center;
  margin-top: 40px;
  position: relative;
  
  height: 50px;
  
}
.shoes-headline {
  position: absolute;
  left: 65px;
  font-weight: 500;
  font-size: 24px;


}

.nav-button-wrapper {
  position: absolute;
  display: flex;
  right: 65px;
}

.left-nav-button, .right-nav-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 25px;
  
}
.right-nav-button {
  
  text-align: center;
  background-color: rgb(229, 229, 229);
}
.left-nav-button {
  margin-right: 12px;
  background-color: rgb(245,245,245);
  color: rgb(190,190,190)
  
}
.material-icons {
  font-size: 25px;
  font-weight: 100;
  

}

.right-nav-button:hover {
  background-color: rgb(195,195,195);
  transition: 0.1s;
}
.shoes-grid {
  margin-top: 20px;
  margin-left: 65px;
  margin-right: 65px;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  column-gap: 15px;
  row-gap: 40px;
  
}
.shoes-item {
  display: flex;
  flex-direction: column;
  
  
}
.shoes-item:hover {
  cursor: pointer;
}
.shoes-image {
  
  width: 100%;
}

.shoe-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 20px;
  
  
  
}
.shoe-price {
  padding-right: 20px;
}
.shoe-recommendation {
  color: rgb(117, 117, 117);
  margin-top: 5px;
  font-size: 18px;
}
